#team_list
  %h1 小组信息列表
  %div
    - @teams.each do |team|
      %span
        小组名称:
        = team.name
        = team.id
/       %h4.list_action
/         %p
/           = button_to '查看信息', team, :method => :get
/         %tr
/           = button_to '修改信息', "/teams/#{team.id}/edit", :method => :get
/         %td
/           = button_to '删除', team, :confirm => 'Are you sure?', :method => :delete
= button_to '添加信息', "/teams/new", :method => :get